@charset "utf-8";

/* CSS Document */
/* Configuraciones */
@font-face {
    font-family: "pt sans bold";
    src: url(font/PTSans-Bold.ttf) format(truetype);
    font-weight: normal;
    font-size: normal;
}

@font-face {
    font-family: "cabin";
    src: url(font/Cabin-VariableFont_wdth\,wght.ttf) format(truetype);
    font-weight: normal;
    font-size: large;
}

@font-face {
    font-family: "cabin italic";
    src: url(font/Cabin-Italic-VariableFont_wdth\,wght.ttf) format(truetype);
    font-weight: italic;
    font-size: italic;
}

/*Aplicaciones*/
/*tipos*/

* {
    font-family: "cabin", sans-serif;
}

h1 h2{
    font-family: "pt sans bold", sans-serif;
    font-size: larger
}


a {
    font-family: "cabin italic", sans-serif;
    font-size: large;
}

span {
    font-family: "pt sans bold", sans-serif;
    font-size: large;
}

p {
    max-width: 800px
}
/*header*/

header .micv {
    text-align: left;
    background-color: rgba(146, 241, 122, 0.705);
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(96, 182, 100);
    border-width: 2px;
    padding: 3px;
}

header .contactos {
    text-align: left;
    background-color: rgb(146, 241, 122, 0.705);
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(96, 182, 100);
    border-width: 2px;
    padding: 3px;
}

header .wiki {
    text-align: left;
    background-color: rgb(146, 241, 122, 0.705);
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(96, 182, 100);
    border-width: 2px;
    padding: 3px;
}

header .busqueda {
    text-align: left;
    background-color: rgb(146, 241, 122, 0.705);
    border-radius: 5px;
    border: 5px;
    border-style: solid;
    border-color: rgb(96, 182, 100);
    border-width: 2px;
    padding: 3px;
}

header .navbar {
    padding-left: 20px;
    padding-bottom: 10px;
    display: flex;
  align-items: center; 
  gap: 5px;  
}

header .yo {
    line-height: 12px;
    background-color: rgb(190, 233, 198);
    text-align: center;
    border-radius: 30px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 5px;
}

header .keroppi {
    align-self: left;
    padding: 5px;
    margin: auto;;
    display:contents;
}


/*body and main*/

body {
    background-color: rgb(132, 202, 141)
}


main .bio {
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    width:  500px;
    padding: 15px;
    margin: auto;
    line-height: 15px;
    text-align: center;
    background-color: rgb(221, 235, 218);
    align-items: center;
    box-sizing: border-box;
    width: 800px;
    margin-top: 25px;
    margin-bottom: 25px;
}

main .foto-perfil {
    border-radius: 60px;
    margin: 0px;
}


main .info1 {
    display: inline-block;
    background-color: rgb(221, 235, 218);
    text-align: center;
    border-radius: 50px;
    width: 800px;
    padding: 15px;
    margin: auto;
    box-sizing: border-box;
}

main .info2 {
    display: inline-block;
    background-color: rgb(221, 235, 218);
    text-align: center;
    border-radius: 50px;
    width: 800px;
    padding: 15px;
    box-sizing: border-box;

}

main .info{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center; 
  gap: 5px;
}

main .trabajos{
    background-color: rgb(221, 235, 218);
    border-radius: 50px;
    padding: 15px;
    padding-bottom: 20px;
    padding-top: 5px;
    width: 1500px;
    margin: auto;
    margin-top: 20px;
}

.trabajos h3 {
  color: #296819; 
  margin-bottom: 5px;
  text-align: center;
  font-family: "pt sans bold", sans-serif;
  font-size:xx-large;
  padding: 0px;
  line-height: 10px;
}

.trabajos .galeria {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.trabajos img {
  width: 200px; 
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

/*footer*/

footer {
    font-family: "cabin italic", sans-serif;
    text-align: center;
    margin: 15px;
}

footer .abajo {
    background-color: rgb(190, 233, 198);
    text-align: center;
    border-radius: 30px;
    margin-left: 650px;
    margin-right: 650px;
}

h4 {
    font-family: "honk", system-ui;
    font-size: 100px;
    margin: 0;
    background-image: url(img/bob.png);
    background-size: 113.5px;
    background-repeat: repeat;
    background-image: url(img/bob.png);
    min-height: 180px;
    background-repeat: repeat-x;
    -webkit-animation: scrollbg 50s linear infinite;
    animation: scrollbg 50s linear infinite;
    margin: 40px 0;
}

@-webkit-keyframes scrollbg {
    0% {
        background-position: 0
    }

    to {
        background-position: -2332px
    }
}

@keyframes scrollbg {
    0% {
        background-position: 0
    }

    to {
        background-position: -2332px
    }
}

/*Tamaño pagina*/

body {
  width: 1920px;
  height: 1080px;
  margin: 0 auto; 
  overflow: auto; 
}