@charset "utf-8";
/* CSS Document */
/* Configuraciones */
@font-face {
    font-family: "PT Sans Bold";
    src: url(font/PTSans-Bold.ttf) format(truetype);
    font-weight: normal;
    font-size: normal;
}
@font-face {
    font-family: "Cabin";
    src: url(font/Cabin-VariableFont_wdth\,wght.ttf) format(truetype);
    font-weight: normal;
    font-size:large;
}
@font-face {
    font-family: "Cabin Italic";
    src: url(font/Cabin-Italic-VariableFont_wdth\,wght.ttf) format(truetype);
    font-weight: italic;
    font-size: italic;
}

/*Aplicaciones*/

* {font-family: "Cabin", sans-serif; }

h1 h2 {font-family: "PT Sans Bold", sans-serif;font-size: larger}
footer {font-family: "Cabin Italic", sans-serif;
text-align: center;
margin: 15px;
}

a {font-family: "Cabin Italic", sans-serif;font-size: small;}
h3{ font-family: "Honk", system-ui; font-size: 100px;
margin: 0;}
span {font-family: "PT Sans Bold", sans-serif;font-size: large;}

p {max-width: 800px}

header {text-align: center;}
header .yo{background-color: rgb(190, 233, 198);
border-radius: 30px;
margin-left: 100px; margin-right: 100px;}
body{background-color:rgb(132, 202, 141)
}

main .bio{
display: flex;flex-direction: column;
border-radius: 30px;
padding: 15px;
margin: 50px;
margin-left: 500px;
line-height: 15px;
text-align: center;
background-color: rgb(221, 235, 218);
align-items: center;
box-sizing: border-box; width: 800px;
}

main .foto-perfil{
border-radius: 60px;
margin: 0px;
}

main .keroppi {
margin-left: 760px;
}

main .info1{
display: inline-block;
background-color: rgb(221, 235, 218);
text-align: center;
border-radius: 50px;
padding: 15px;
margin: 10px;
box-sizing: border-box; width: 800px;
margin-left: 100px;
}

main .info2 {
display: inline-block;
background-color: rgb(221, 235, 218);
text-align: center;
border-radius: 50px;
padding: 15px;
margin: 10px;
box-sizing: border-box; width: 800px;
}
